#Experience {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Experience-Icon {
    height: 65px;
    width:  65px;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
}