.Landing {
    height: 100%;
}

.Landing-Title {
    text-align: center;
    font-size: 85px;
    font-weight: 200;
    margin: 6rem;
}

@media (max-width: 760px) {
    .Landing-Title {
        font-size: 65px;
        font-weight: 200;
        margin: 6rem;
    }
}

.Landing-Links {
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
}

#Landing-Link {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#Landing-Link:hover {
    color: rgb(102, 102, 102);
}

.scrollIcon {
    position: absolute;
}