.Box {
    padding: 0;
    background: black;
    bottom: 0;
    display: flex;
    width: 100%;
    position: relative;
    margin: 0;
}
  
@media (max-width: 1000px) {
    .Box {
        padding: 70px 30px;
    }
}

.Footer-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

@media (max-width: 1000px) {
    .Row {
        grid-template-columns: repeat(auto-fill, 
                               minmax(200px, 1fr));
    }
}

#Footer-Link {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}
   
#Footer-Link:hover {
    color: rgb(63, 59, 59);
    text-decoration: underline;
}

.Icons {
    display: flex;
    justify-content: center;
}

.Icon {
    height: 60px;
    width:  60px;
    margin-left: 2rem;
}

.Footer-Links {
    display: flex;
    justify-content: space-around;
    color: white;
    display: flex; 
    width: 100%;
    align-items: center;
}

.Footer-Logo {
    height: 30px;
    width:  30px;
    margin-right: 1rem;
}

.Footer-Logo-Name {
    height: 100px;
    width:  130px;
    margin-right: 1rem;
}

.Footer-Brand {
    display: flex;
    justify-content: center;
}
