.App {
    margin-bottom: 2rem;
    background-color: linear-gradient(115.03deg, #DDEEFD 0%, #FFFFFF 63.03%);
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Links {
    justify-content: space-between;
}

.Link {
    margin-left: 10rem;
    text-decoration: none;
    color: black;
}

.Link:hover {
    color: black;
    text-decoration: underline;
}

.Brand {
    display: flex;
    align-items: center;
}

.Brand-Link {
    text-decoration: none;
    color: rgba(0,0,0,.7);
    margin-left: 0.4rem;
}

.photo {
    height: 40px;
    width:  40px;
    
}

#Landing-Button {
    border-radius: 30px;
}

a:hover {
    color: blue;
}

.Landing-Logo {
    height: 60px;
    width:  60px;
    margin-right: 1rem;
}

.Landing-Logo-Name {
    height: 100px;
    width:  130px;
    margin-right: 1rem;
}
